* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #fdf5e6;
}

.header {
  position: static !important;
}
  

.lower-box {
  display: block;
}
