* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

header
  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position:fixed;
    top: 0px;
    margin-bottom: 10px;
    padding: 8px;
    border: 3px solid black;
  } 
  
nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 8px;
}
section {
    display: block;
    flex-wrap: wrap;
    float: center;
    width: 100%;
    height: auto;
    
    
}

.pill {
    display:flex;
    float: center;
    margin-left: 30%;
    margin-top: 100px;
    width: 40%;
   
}
.input, .output {
    display: flex;
    width: 150px;
    height:150px;
    float: center;
    border-color: black;
    border-style:solid;
}
.rating {
    display: block;
    width: 100%;
    height: auto;
    justify-self: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 475px;
    
    
   
    
    
    
 }
 
 .rating__star {
    cursor: pointer;
    color: #dabd18b2;
    ;
 }

 /* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }