* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

header
  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position:fixed;
    top: 0px;
    margin-bottom: 10px;
    padding: 8px;
    border: 3px solid black;
  } 
  
nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 8px;
}
